<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Pokedex</title>
  </head>
  <body>
    <header id="top-container">
      <h1 id="header">Pokédex</h1>
      <img id="pokedex-logo" src="/img/Pokédex_logo.png" alt="pokédex logo" />
      <img
        id="pokeball-logo"
        src="/img/pokeball-logo.png"
        alt="pokeball-logo"
      />
    </header>
    <nav id="menu">
      <a href="/home/">Home</a>
      <a href="/cadastro/">Cadastro</a>
      <a href="/detalhes/">Detalhes</a>
    </nav>

		<main>
			<section class="carousel-container">
			<% pokedex.forEach((pokemon) => { %>	
				<div class="pokemon-card">
					<div class="card-front">
						<h3><%= pokemon.id %></h3>
						<h3><%= pokemon.numero %></h3>
						<img src="/img/card-logo.png" alt="card-logo" />
					</div>
					<div class="card-back">
						<h3><%= pokemon.nome %></h3>
						<img src="<%= pokemon.imagem %>" alt="pokémon-img" />
					</div>
					<a href="/update/<%= pokemon.numero %>">Editar</a>
				</div>
			<% }) %>
			</section>
		</main>
	</body>
</html>
